.btn {
  padding: 0.75rem 1.25rem;
  border-radius: 8px;
  font-weight: 600;
  font-size: 1rem;
  border: 1px solid transparent; /* Must match hover border width */
  cursor: pointer;
  transition: background-color 0.2s ease;
  width: 100%;
}

/* Primary button */
.btn-primary {
  background-color: var(--color-primary);
  color: var(--color-secondary);
}

.btn-primary:hover {
  background-color: var(--color-background);
  border: 1px solid var(--color-primary);
}

/* Secondary button */
.btn-secondary {
  background-color: var(--color-background);
  color: var(--color-secondary);
  border: 1px solid var(--color-secondary);
}

.btn-secondary:hover {
  background-color: var(--color-secondary);
  color: var(--color-primary);
  border: 1px solid var(--color-secondary);
}

.btn-navigation {
  background-color: var(--color-background);
  color: var(--color-secondary);
  border: 1px solid var(--color-secondary);
  flex: 1;
  padding: 0.5rem;
  min-width: 0;   /* Stops overflow */

}

.btn-navigation-active {
  background-color: var(--color-background);
  color: var(--color-secondary);
  border-bottom: 1px solid var(--color-secondary);
  flex: 1;
  padding: 0.5rem;
  min-width: 0;   /* Stops overflow */


}

.btn-icon {
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: inline-flex;    
  align-items: center;     
  justify-content: center; 
  padding: 0;
  width: auto;
}
