.container {
  width: 100%;
  margin: 1.5rem 0;
  box-sizing: border-box;
}


.container-small {
  margin: 1.5rem 0;
}

.container-medium {
  margin: 1.5rem 0;
}

.container-large {
  margin: 1.5rem 0;
}

.container-card {
  max-width: 100%;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #f5eadb;
  margin-bottom: 2.5rem;
  position: relative;
}