/* Base styles for all headings */
.heading {
  font-family: "Poppins", sans-serif;
  color: var(--color-secondary);

}

/* Variants per level */
.heading-1 {
  font-family: var(--secondary-font); 
  font-size: 3.5rem;
  font-weight: bold;
  margin-bottom: 1.25rem;
}

.heading-2 {
  font-size: 2rem;
  font-weight: 500;
}

.heading-3 {
  font-size: 1.4rem;
  font-weight: 100;
  margin-bottom: 0.5rem;
}
