/* Reset / base styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: var(--color-background);
  color: var(--color-text);
}

/* CSS variables */
:root {
  /* Colours */
  --color-primary: #BFD35A;
  --color-secondary: #040B3B;
  --color-accent: #f6b640;
  --color-background: #FBF4EA;
  --color-default: #454851;

  /* Typography */

  --primary-font: 'Poppins', sans-serif;
  --secondary-font: 'garamond', sans-serif;
  --font-size-base: 16px;
  --font-size-heading: 2rem;
  --font-size-subheading: 1.25rem;

  /* Spacing */
  --spacing-xs: 4px;
  --spacing-sm: 8px;
  --spacing-md: 16px;
  --spacing-lg: 32px;
  --spacing-xl: 64px;

  /* Borders */
  --radius-sm: 4px;
  --radius-md: 8px;
  --radius-lg: 16px;
}

.checkbox {
  width: 18px;
  height: 18px;
  margin-right: 10px;
  cursor: pointer;
  accent-color: #bfd35a;
}
