/* Base text styles */
.text {
  font-family: "Poppins", sans-serif;
  margin: 0.5em 0;
  line-height: 1.5;
}

/* Size variants */
.text-small {
  font-size: 0.8rem;
}

.text-medium {
  font-size: 1rem;
}

.text-large {
  font-size: 1.2rem;
}

/* Colour variants */
.text-primary {
  color: var(--color-secondary);
}

.text-secondary {
  color: var(--color-background);
}

.text-muted {
  color: var(--color-default);
}
